body, html {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #1c424d;
}
h1 {
    font-weight: 700;
}
h1 strong {
    font-weight: 900;
}
h2 {
    font-size: 36px;
    margin: 0;
}
h3 {
    font-size: 16px;
    font-weight: 700;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
a {
    color: #5b777f;
    transition: all 0.5s;
}
a:hover, a:focus {
    text-decoration: none;
    color: #f1c40f;
}
.img-centered {
    margin: 0 auto;
}
ul, ol {
    list-style: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #032e3a;
    z-index: 99999;
    height: 100%;
}
#status {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    padding: 0;
}
.section-title {
    padding: 30px 0;
}
.section-title h2 {
    font-weight: 400;
    margin-bottom: 26px;
}
hr {
    height: 3px;
    width: 60px;
    position: relative;
    background: #626a29;
    border: 0;
    margin-bottom: 30px;
}
/* Navigation */
#menu {
    padding: 20px;
    transition: all 0.8s;
}
#menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
    text-transform: uppercase;
    font-size: 22px;
    color: #d9e0e2;
    font-weight: 700;
    letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
    color: #f3ca27;
}
#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #d9e0e2;
    font-size: 12px;
    letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
    color: #f3ca27;
    border-bottom: 2px solid;
}
.on {
    background-color: #032731 !important;
    padding: 0 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f3ca27 !important;
    background-color: transparent;
    border-bottom: 2px solid;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f3ca27;
    border-color: #f3ca27;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #FFF;
}
/* Home Style */
header {
    background: url(../storage/images/header-bg.jpg) no-repeat bottom center;
    background-size: cover;
    color: #d9e0e2;
    position: relative;
    height: 100%;
}
header p {
    color: #d9e0e2;
    font-size: 20px;
    margin-bottom: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.intro-text {
    position: relative;
    padding-top: 250px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 170px;
}
.intro-text H1 {
    font-size: 70px;
    text-transform: uppercase;
    color: #d9e0e2;
    letter-spacing: 2px;
}
.color {
    color: #f3ca27;
}
.btn-default {
    color: #294d57;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1c40f;
    border: 0;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
    background-color: #c1a618;
}
/* Services Section */
#services-section {
    padding: 80px 0 100px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
    background: rgb(3,39,49); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032731', endColorstr='#032731', GradientType=0 ); /* IE6-9 */
    color: #5b777f;
}
#services-section h4 {
    color: #81969c;
    text-transform: uppercase;
}
.space {
    margin-top: 40px;
}
#services-section i.fa {
    font-size: 40px;
    border: 0;
    width: 100px;
    height: 80px;
    padding: 22px 25px;
    background: #032934;
    margin-bottom: 6px;
    border-radius: 10%;
    color: #f3ca27;
    transition: all 0.5s;
}
#services-section .service:hover>i.fa {
    background: #0b3540;
}
/* Gallery Section 
==============================*/
#works-section {
    padding: 80px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
    background: rgb(193,166,24); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1a618', endColorstr='#c1a618', GradientType=0 ); /* IE6-9 */
}
#works-section i.fa {
    font-size: 30px;
    padding: 5px;
    color: #f1c40f;
}
.categories {
    padding-bottom: 30px;
    text-align: center;
}
#works-section hr {
    background: #a9971c;
}
ul.cat li {
    display: inline-block;
}
ol.type li {
    display: inline-block;
    margin-left: 20px;
}
ol.type li a {
    color: #51633d;
    border: 1px solid #f7dc6f;
    padding: 8px 16px;
    border-radius: 3px;
}
ol.type li a.active {
    background: #f7dc6f;
}
ol.type li a:hover {
    background: #f7dc6f;
}
.isotope-item {
    z-index: 2
}
.isotope-hidden.isotope-item {
    z-index: 1
}
.isotope, .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.portfolio-item {
    margin-bottom: 30px;
}
.portfolio-item .hover-bg {
    height: 260px;
    overflow: hidden;
    position: relative;
}
.hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #c0cbce;
    background: rgba(3, 46, 58, 0.8);
    padding: 25% 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
    font-size: 20px;
}
.hover-bg:hover .hover-text>h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.hover-bg .hover-text>i {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.hover-bg:hover .hover-text {
    opacity: 1;
}
.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f1c40f;
}
.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 2.5em;
}
.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
    margin: 10px 0 30px;
    font-size: 14px;
    font-style: italic;
}
.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}
.portfolio-modal .close-modal:hover {
    opacity: .3;
}
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 35px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 35px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.portfolio-modal .btn-primary {
    color: #a7b6ba;
    background-color: #1d434e;
    border-color: #1d434e;
}
.portfolio-modal .btn-primary:hover, .portfolio-modal .btn-primary:focus, .portfolio-modal .btn-primary.focus, .portfolio-modal .btn-primary:active, .portfolio-modal .btn-primary.active {
    color: #a7b6ba;
    background-color: #032e3a;
    border-color: #032e3a;
}
/* About Section */
#about-section {
    padding: 80px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
    background: rgb(3,39,49); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032731', endColorstr='#032731', GradientType=0 ); /* IE6-9 */
    color: #5b777f;
}
#about-section h4 {
    color: #81969c;
    font-size: 20px;
}
#about-section li {
    margin-bottom: 6px;
    list-style: none;
    padding: 0;
}
#about-section li:before {
    font-family: 'FontAwesome';
    content: "\f101";
    color: #f3ca27;
    padding-right: 5px;
}
/* Team Section */
#team-section {
    padding: 80px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
    background: rgb(193,166,24); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1a618', endColorstr='#c1a618', GradientType=0 ); /* IE6-9 */
}
#team-section hr {
    background: #a9971c;
}
#team-section .item {
    padding: 0;
    margin: 15px;
    text-align: center;
}
img.img-circle.team-img {
    width: 120px;
    height: 120px;
    border: 4px solid transparent;
    transition: all 0.5s;
}
#team-section .thumbnail {
    background: transparent;
    border: 0;
}
#team-section .thumbnail .caption {
    padding: 9px;
    color: #1c424d;
}
#team-section i.fa {
    font-size: 16px;
    color: #faeaab;
    margin-top: 10px;
}
#team-section i.fa:hover {
    color: #1c424d;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    filter: Alpha(Opacity=1);
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 20px;
    border-radius: 50%;
    background: #42626b;
    transition: all 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #f1c40f;
}
.owl-theme .owl-controls .owl-page.active span {
    background: #f1c40f;
}
/* Testimonials Section */
#testimonials-section {
    padding: 80px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
    background: url(../storage/images/header-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #5b777f;
}
#testimonial {
    padding: 30px 0;
}
#testimonial .item {
    display: block;
    width: 100%;
    height: auto;
}
#testimonial .item p {
    font-weight: 400;
    margin: 0 0 30px 0;
}
/* Contact Section */
#contact-section {
    padding: 80px 0 20px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
    background: rgb(193,166,24); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1a618', endColorstr='#c1a618', GradientType=0 ); /* IE6-9 */
}
#contact-section hr {
    background: #a9971c;
}
#contact-section h3 {
    font-size: 20px;
    font-weight: 400;
}
#contact-section form {
    padding: 30px 0;
}
#contact-section .fa {
    color: #f8e287;
    margin-bottom: 10px;
}
label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    float: left;
}
#contact-section .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
#contact-section .form-control:focus {
    border-color: inherit;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}
#contact-section .social {
    margin-top: 60px;
}
#contact-section .social ul li {
    display: inline-block;
    margin: 0 20px;
}
#contact-section .social i.fa {
    font-size: 26px;
    padding: 4px 5px;
    color: #f8e287;
    transition: all 0.5s;
}
#contact-section .social i.fa:hover {
    color: #032731;
}
#contact-section .btn {
    background: transparent;
    border: 2px solid #fef9e7;
    border-radius: 4px;
    padding: 6px 14px;
    margin-top: 20px;
    color: #fef9e7;
    font-size: 16px;
    transition: all 0.5s;
}
#contact-section .btn:hover, #contact-section .btn:focus {
    background: #fef9e7;
    border: 2px solid #fef9e7;
    color: #5b777f;
}
#contact-section .text-danger {
    color: #cc3300;
    text-align: left;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline-offset: none;
}
/* Footer */
#footer {
    background: #032731;
    padding: 15px 0 10px 0;
    color: #42626b;
    text-align: center;
}
#footer p {
    margin-top: 10px;
}

@media (max-width: 768px) {
.content {
    padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
    background-color: rgba(0, 0, 0, 0.7);
}
label {
    float: none !important
}
.hover-bg .hover-text {
    padding: 12% 10%;
}
}

@media (max-width: 360px) {
.hover-bg .hover-text {
    padding: 22% 10%;
}
}
/*.navbar-brand {
    padding-top: 20px !important;
}*/
footer .footer-widget-title {
    border-bottom: 2px solid #8c8c8c;
    padding-bottom: 10px;
    margin-bottom: 15px !important;
}

.footer-social ul {
    padding: 0px;
}
.footer-social ul li {
    display: inline-block;
    margin: 0 20px;
}

.footer-menu ul {
    padding: 0px;
}
.footer-menu ul li {
    display: inline-block;
    margin: 0 5px;
}
.footer-widget-title {
    font-family: 'Abel';
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 35px;
}
.footer-widget-detail a:first-child {
    margin-top: -5px;
}
.footer-widget-detail a {
    text-align: left;
    color: #8c8c8c;
    display: block;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 34px;
}
.footer-logo{
    margin-top: 50px;
}
.text-copyright{
    text-align: left;
    margin-left: 100px;
}
.contact-detail{
    text-align: left;
    margin-top: 35px;
}
li .contact-map{
    margin-left: 25px;
    margin-top: -25px;
}
#contact-section li i {
    margin-right: 20px;
}
